################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PorwalGeneralStore/.vs/PorwalGeneralStore/v15
