################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PorwalGeneralStore/.vs/PorwalGeneralStore/v15
/PorwalGeneralStore/.vs/PorwalGeneralStore/v15/Server/sqlite3
/PorwalGeneralStore/PorwalGeneralStore.BusinessLayer/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.BusinessLayer/obj
/PorwalGeneralStore/PorwalGeneralStore.CommonData/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.CommonData/obj
/PorwalGeneralStore/PorwalGeneralStore.DataAccessLayer/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.DataAccessLayer/obj
/PorwalGeneralStore/PorwalGeneralStore.DataModel/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.DataModel/obj
/PorwalGeneralStore/PorwalGeneralStore.EdmxModel/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.EdmxModel/obj
/PorwalGeneralStore/PorwalGeneralStore.Global/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.Global/obj
/PorwalGeneralStore/PorwalGeneralStore.ThirdPartyIntegration/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.ThirdPartyIntegration/obj
/PorwalGeneralStore/PorwalGeneralStore.Utility/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.Utility/obj
/PorwalGeneralStore/PorwalGeneralStore.WebApp/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.WebApp/obj
/PorwalGeneralStore/PorwalGeneralStore.XUnitTestBusiness/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.XUnitTestBusiness/obj
/PorwalGeneralStore/PorwalGeneralStore.XUnitTestUtility/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/PorwalGeneralStore.XUnitTestUtility/obj
/PorwalGeneralStore/.vs/config
/PorwalGeneralStore/.vs/PorwalGeneralStore/DesignTimeBuild
/PorwalGeneralStore/PorwalGeneralStore.WebApp/bin/Debug/netcoreapp2.0
/PorwalGeneralStore/PorwalGeneralStore.WebApp/bin/Debug/netcoreapp2.1
/PorwalGeneralStore/BaseWebApp/bin
/PorwalGeneralStore/BaseWebApp/obj
/PorwalGeneralStore/PorwalGeneralStore.BusinessLayer/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.DataAccessLayer/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.DataModel/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.EdmxModel/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.Global/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.ThirdPartyIntegration/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.Utility/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.WebApi/bin
/PorwalGeneralStore/PorwalGeneralStore.XUnitTestBusiness/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.XUnitTestUtility/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.BusinessLayer/bin/Release/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.DataAccessLayer/bin/Release/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.DataModel/bin/Release/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.EdmxModel/bin/Release/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.Global/bin/Release/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.Utility/bin/Release/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.XUnitTestProductController/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/PorwalGeneralStore.XUnitTestProductController/obj
/PorwalGeneralStore/XUnitTestProductBizUnitTest/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XUnitTestProductBizUnitTest/obj
/.vs
/PorwalGeneralStore/PorwalGeneralStore.WebApi/obj
/PorwalGeneralStore/InMemoryDbContext/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/InMemoryDbContext/obj
/PorwalGeneralStore/XUnitTestProductDataAccessLayerUnitTest/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XUnitTestProductDataAccessLayerUnitTest/obj
/PorwalGeneralStore/XunitTestProject/BusinessUnitTest/XUnitTestProductBizUnitTest/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XunitTestProject/BusinessUnitTest/XUnitTestProductBizUnitTest/obj
/PorwalGeneralStore/XunitTestProject/BusinessUnitTest/XUnitTestUserBizUnitTest/obj
/PorwalGeneralStore/XunitTestProject/ControllerUnitTest/PorwalGeneralStore.XUnitTestProductController/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XunitTestProject/ControllerUnitTest/PorwalGeneralStore.XUnitTestProductController/obj
/PorwalGeneralStore/XunitTestProject/DataAccessLayerUnitTest/XUnitTestProductDataAccessLayerUnitTest/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XunitTestProject/DataAccessLayerUnitTest/XUnitTestProductDataAccessLayerUnitTest/obj
/PorwalGeneralStore/XunitTestProject/InMemoryDbContext/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XunitTestProject/InMemoryDbContext/obj
/PorwalGeneralStore/XunitTestProject/PorwalGeneralStore.XUnitTestUtility/bin/Debug
/PorwalGeneralStore/XunitTestProject/PorwalGeneralStore.XUnitTestUtility/obj
/PorwalGeneralStore/XunitTestProject/BusinessUnitTest/XUnitTestUserBizUnitTest/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XunitTestProject/DataAccessLayerUnitTest/XUnitTestUserDataAccessLayerUnitTest/obj
/PorwalGeneralStore/XunitTestProject/DataAccessLayerUnitTest/XUnitTestUserDataAccessLayerUnitTest/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/.vs/PorwalGeneralStore/v16
/PorwalGeneralStore/.vs/PorwalGeneralStore/config
/PorwalGeneralStore/PorwalGeneralStore.HttpWebRequestClientLibrary/obj
/PorwalGeneralStore/PorwalGeneralStore.HttpWebRequestClientLibrary/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XunitTestProject/XUnitTestHttpWebRequestClientLibraryUnitTest/bin/Debug/netcoreapp2.2
/PorwalGeneralStore/XunitTestProject/XUnitTestHttpWebRequestClientLibraryUnitTest/obj
